@font-face {
  font-family: 'Glegoo-Regular';
  src: url('/font/Glegoo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Glegoo-Bold';
  src: url('/font/Glegoo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/font/Poppins-Regular.ttf') format('truetype');
}